*{
    margin:0;
    padding:0;
}
footer{
font-size: 0,5em;
bottom: 50%;
color: white;
margin: 10px;
}
section {
    margin: 20px;
}
.li a sm{
    font-size: 50px;
}
.bi {
    font-size: 20px;
    padding-top: 6px;
}
a{
    color: white;
    text-decoration: none;
    transition: 0,3s;
}
.logo{
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav li a {
    padding: 30px;
    color:white;
    text-decoration:none;
    border-radius: 6px
} 
nav li {
    float:left;
    font-size: 15px;
}  
nav ul{
    float: center;
    list-style: none;
}
nav{
    font-size: 15px;
    letter-spacing: 3px;
    height: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:8vh;
}
main{
    background-size: cover;
}

h4{
    display:inline-block;
    font-size: 20px;
}
h5 {
    color:white;

}
figure img{
    border-radius: 50%;
}
.carousel-caption h5{
    font-size: 40px;
    color:aliceblue;
    text-shadow: 2px 2px 2px 2px black;
}
body{
   background-color: #F5F5F5;
   line-height: 1,5px;
}